<!DOCTYPE html>
<html>

<head>
    <title>Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/admin.index.css">
</head>

<body>

    <h1>Database control</h1>
    <h4>Show Information</h4>
    <p>
        <a href="#" class="btn btn-primary">Under construction</a>
    </p>
    <h4>Interactive</h4>
    <p>
            <a href="/zadmjn2019z/upload/layout" class="btn btn-primary">Upload layout</a>
    </p>
</body>

</html>